
 {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
            font-family: Verdana, cursive,Geneva, Tahoma, sans-serif;
            background: #dedede;
        }
a {
 text-decoration: none;
}
li {
 list-style: none;
}
        .container {
            max-width: 900px;
            padding: 15px;
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
        }

        .slider .slick-slide {
            border: solid 1px #000;
        }

        .slider .slick-slide img {
            width: 100%;
        }

        /* make button larger and change their positions */
        .slick-prev, .slick-next {
            width: 50px;
            height: 50px;
            z-index: 1;
        }
        .slick-prev {
            left: 5px;
        }
        .slick-next {
            right: 5px;
        }
        .slick-prev:before, 
        .slick-next:before {
            font-size: 40px;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        
        /* move dotted nav position */
        .slick-dots {
            bottom: 15px;
        }
        /* enlarge dots and change their colors */
        .slick-dots li button:before {
            font-size: 12px;
            color: #fff;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
            opacity: 1;
        }
        .slick-dots li.slick-active button:before {
            color: #dedede;
        }

        /* hide dots and arrow buttons when slider is not hovered */
        .slider:not(:hover) .slick-arrow,
        .slider:not(:hover) .slick-dots {
            opacity: 0;
        }
        /* transition effects for opacity */
        .slick-arrow,
        .slick-dots {
            transition: opacity 0.5s ease-out;
        }

.navbar {
 display: flex;

 align-items: center;

 justify-content: space-between;

 padding: 20px;

 background-color: teal;

 color: #fff;

}

.nav-links a {

 color: #fff;

}

/* LOGO */

.logo {

 font-size: 32px;

}

/* NAVBAR MENU */

.menu {

 display: flex;

 gap: 1em;

 font-size: 18px;

}

.menu li:hover {

 background-color: #4c9e9e;

 border-radius: 5px;

 transition: 0.3s ease;

}

.menu li {

 padding: 5px 14px;

}

/* DROPDOWN MENU */

.services {

 position: relative; 

}

.dropdown {

 background-color: rgb(1, 139, 139);

 padding: 1em 0;

 position: absolute; /*WITH RESPECT TO PARENT*/

 display: none;

 border-radius: 8px;

 top: 35px;

}

.dropdown li + li {

 margin-top: 10px;

}

.dropdown li {

 padding: 0.5em 1em;

 width: 8em;

 text-align: center;

}

.dropdown li:hover {

 background-color: #4c9e9e;

}

.services:hover .dropdown {

 display: block;

}